
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand"><a id="menu-toggle" href="#">Groups<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li class= 'groups', id=relationship_id >
                        <% group_name = Relationship.find_by(id: relationship_id).group.group_name %>
                        <% group_name_url_string = "/room/" + group_name %>
                           <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>
                                <tr>
                                <th colspan = "4" >
                                <span style="float:left;", class:"glyphicon"><a ><%= f.submit "[ x ]", class: "delete-button" %></a>
                                </span>
                                <span style="width: 100px;">
                                 </span>
                                 <span>
                                </span>
                                <span>
                                <a id="menu-group" href= "<%= group_name_url_string %>" ><%=group_name%></a>
                                </span>
                            </th>
                        </tr>
                            <% end %>

                    </li>
                <% end %>
                <li>
                   <%= link_to "[ create new group + ]", newgroup_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Begin chatting!</h1>
                        <p>Use the sidebar on the left to create a new group or to enter a group that has already been created. Click below to start a chat without a group.</p>

                        <div id="placeholder-div"></div>
                          <%= link_to "Start chatting",  "/room/" + get_random_string, class: 'button' %>
                        <div id="participantsDiv"></div>


                        <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });


     $("").hover(
        function() {
        $(this).preappend( );
        }, function() {
            console.log("DONE");
    $( this ).find( "span:last" ).remove();
    });

    </script>


</body>

</html>