
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        <%= link_to "Groups", '#' %>
                </li >
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li>
                        <div>
                            <%= link_to "#{Relationship.find_by(id: relationship_id).group.group_name}", '#' %>
                        </div>
                        <div>
                           <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>
                              <%= f.submit "Delete group", class: "btn" %>
                            <% end %>
                        </div>
                         <div>
                            <button type = "button" class = "btn btn-primary" id ="btn-room"
                            data-name = <%= Relationship.find_by(id: relationship_id).group.group_name%> >
                                Create a chatroom with <%= Relationship.find_by(id: relationship_id).group.group_name%>
                            </button>
                         </div>
                    </li>
                <% end %>
                <li>
                   <%= link_to "[ create new group + ]", newgroup_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Start a group to begin chatting!</h1>
                        <p>Use the sidebar on the left to create a new group or to enter a group that has already been created.</p>

                        <div id="placeholder-div"></div>
                        <p>
                        <input class="button" type="button" value="Show participants!" id="showParticipants"
                            style="visibility:hidden;"
                            onClick="showParticipants()"/>
                        </p>
                        <div id="participantsDiv"></div>

                        <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>


</body>
<%= javascript_tag do %>


  var redirectToRoom = function(event) {
    var relationship = document.getElementById('btn-room');
    roomField = relationship.getAttribute('data-name');
    alert(roomField);
    //window.test_field = roomField;
    window.location = 'room/'+ roomField;
  }

  $("#btn-room").on("click", redirectToRoom);
<% end %>
</html>