
<div class = "chat_page_container" style ="padding-top:60px; width:100%; height:100%;">

	<div id="help-chat-popup" class="white-popup-block mfp-hide">
		<h1> Here are some tips for using this page: </h1>
		<%= image_tag("chat_example.png", class: "chat-pic") %>
		
	</div>


     <%= render 'chat/chat_sidebar' %>
     <%= render 'chat/chat_side_js_script' %>
     <%= render 'chat/chat_page_content' %>

    

    <%= render 'chat/chat_menu_toggle_script' %>

</div>