


<div class= "cover_image">
  <div class = "overlay"></div>

  <div class = "messages">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

  <div class ="centered_title">
    Benedictation
  </div>

  <div class ="centered_subtitle">
    The smart way to meet.
    <div>
      <% if current_user %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-lg btn-primary log-in-button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="marketing">
  <div class = "row" id="marketing-row">
    <div class="col-md-4">
      <%= image_tag("speech.png") %>
        <h2>Group Chats</h2>
        <p> Benedict brings communication, collaboration, and information together with real time video calls.
        </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("lightbulb.png") %>
        <h2>Answers Questions</h2>
        <p>Benedict is here to serve. Ask him some questions about nearly anything, and he'll answer you as best he can.
        </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("notes.png") %>
        <h2>Takes Notes</h2>
        <p> Benedict brings up documents and a whiteboard to work with during your virtual meeting.
        </p>
    </div>
  </div>
</div>

<div class= "contact_image">
  <div class = "overlay"></div>
  <div class ="centered_title">
    <%= image_tag "struct_logo.png", :style => "width: 20%; padding-bottom: 15px;" %> Struct By_Lightning
  </div>
  <div class ="centered_subtitle">
    If you have questions please email us at
    team.struct.by.lightning@gmail.com
  </div>
</div>
<!--
<div class="center jumbotron">
  <h1>Welcome to Benedictation</h1>

  <h2>
    A smart peer to peer video web application
  </h2>
   <div>
      <% if current_user %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
</div>
-->

<script>

            $(".alert" ).fadeOut(5000);

            $(".alert-success" ).fadeOut(5000);

            $(".alert-danger" ).fadeOut(5000);
</script>
