

<div id="page-content-wrapper">
  <div class="container-fluid">
      <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Create a Group!</h1>
        <%= form_for(@group) do |f| %>

          <%= f.label :group_name %>
          <%= f.text_field :group_name %>
          <%= f.submit "Create new group", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>