        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand"><a id="menu-toggle" href="#">Groups<span id="main_icon" class="glyphicon glyphicon-align-justify" value="0"></span></a></li>
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li class="dropdown-toggle" data-toggle="dropdown" unique=<%= relationship_id %> value="0" >
                        <% group = Relationship.find_by(id: relationship_id).group %>
                        <% group_id = group.id %>
                        <% group_name = group.group_name %>
                        <% group_name_url_string = "/room/" + "#{group_id}" + "/" + group_name %>

                           <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>


                            <tr>
                                <th colspan = "4" >
                                    <span style="float:left;", class:"glyphicon", id="delete-x1">
                                        <a ><%= f.submit "[ x ]", class: "delete-button", id: "delete-x2" %>
                                        </a>
                                    </span>
                                    <span>
                                        <a class="popup-with-form add-user-button" href=<%= '#add-user' + group_id.to_s %> > [ + ]</a>
                                    </span>
                                    <span>
                                        <a class = "go-to-room-button" href=<%= group_name_url_string %>>[ -> ]</a>
                                    </span>


                                    <span style="width: 100px;"></span>
                                    <span>
                                        <% if group_name_url_string.length < 8 %>
                                        <a id="menu-group" ><%= "#" + group_name%></a>
                                        <% else %>
                                        <a id="menu-group" ><%= "#" + truncate(group_name, length: 9 )%></a>
                                        <% end %>
                                    </span>


                                </th>
                            </tr>

                            <% end %>
                            <!-- form itself -->
                             <div id=<%= 'add-user' + group_id.to_s %> class="white-popup-block mfp-hide">

                                <h1>Add a user to the group:  <%= group_name %></h1>
                                <%= form_tag(controller: "groups", action: "popupadduser", method: "post") do |f| %>
                                  <%= label_tag "New Member Email" %>
                                  <%= text_field_tag :newmemberemail, params[:newmemberemail] %>
                                  <%= hidden_field_tag :groupid, group_id%>
                                  <%= submit_tag "Add new user to group", class: "btn btn-primary" %>
                                <% end %>
                            </div>

                    </li>
                <% end %>
                <li>

                   <a class="popup-with-form " href="#create-group" >[ create new group + ]</a>
                </li>
                <div id="create-group" class="white-popup-block mfp-hide">
                    <h1>Create a Group!</h1>
                        <%= form_tag(controller: "groups", action: "create", method: "post") do |f| %>
                          <%= label_tag  "Group Name" %>
                          <%= text_field_tag :group_name, params[:group_name.downcase] %>
                          <%= submit_tag "Create new group", class: "btn btn-primary" %>
                        <% end %>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

<script>

$('.sidebar-brand').click(function(e){

    if (this.value % 2 == 1) {
        this.value += 1;
        console.log("why isn't it showing up!?")
        //var id = this.getAttribute("unique");
        //var str_id = id.toString();
        //$('#' + str_id).show();
        $('.add-user-button').fadeIn( "fast" );
        $('.go-to-room-button').fadeIn( "fast" );
    }
    else {
        this.value += 1;
        //var id = this.getAttribute("unique");
        //var str_id = id.toString();
        //$('#' + str_id).hide();
        $('.add-user-button').fadeOut( "fast" );
        $('.go-to-room-button').fadeOut( "fast" );
    }
});


</script>

