        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand"><a id="menu-toggle" href="#">Groups<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li class="dropdown-toggle" data-toggle="dropdown" unique=<%= relationship_id %> >
                        <% group = Relationship.find_by(id: relationship_id).group %>
                        <% group_id = group.id %>
                        <% group_name = group.group_name %>
                        <% group_name_url_string = "/room/" + "#{group_id}" + "/" + group_name %>
                           <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>
                                <tr>
                                <th colspan = "4" >
                                <span style="float:left;", class:"glyphicon", id="delete-x1"><a ><%= f.submit "[ x ]", class: "delete-button", id: "delete-x2" %></a>
                                </span>
                                <span style="width: 100px;">
                                 </span>
                                 <span>
                                </span>
                                <span>
                                <a id="menu-group"><%=group_name%></a>
                                </span>
                                 <ul class="add-user-hover" id=<%= relationship_id %> >
                                    <li><a id="no-click" href="<%= group_name_url_string %>"> Go to room</a></li>
                                    <li><a id="no-click"><%= link_to "Add a user", newuser_path(:currentgroupid => group_id) %></a></li>
                                </ul>
                            </th>
                        </tr>
                            <% end %>

                    </li>
                <% end %>
                <li>
                   <%= link_to "[ create new group + ]", newgroup_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<script>
var parity = 0;
$('.dropdown-toggle').click(function(e){
    if (e.target.id === "no-click" || e.target.id === "delete-x1" || e.target.id === "delete-x2") {
    }
    else if (parity % 2 == 0) {
        parity += 1;
        var id = this.getAttribute("unique");
        var str_id = id.toString();
        $('#' +str_id).show();
    }
    else {
        parity += 1;
        var id = this.getAttribute("unique");
        var str_id = id.toString();
        $('#' + str_id).hide();
    }
});


</script>
