        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand"><a id="menu-toggle" href="#">Groups<span id="main_icon" class="glyphicon glyphicon-align-justify" value="0"></span></a></li>
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li class="dropdown-toggle" data-toggle="dropdown" unique=<%= relationship_id %> value="0" >
                        <% group = Relationship.find_by(id: relationship_id).group %>
                        <% group_id = group.id %>
                        <% group_name = group.group_name %>
                        <% group_name_url_string = "/room/" + "#{group_id}" + "/" + group_name %>

                           <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>



                            <tr>
                                <th colspan = "4" >

                                    <span class="glyph-remove">
                                        <a class="popup-with-form glyphicon glyphicon-remove" href=<%= '#delete-user' + relationship_id.to_s %> aria-hidden="true">

                                        </a>
                                    </span>

                                    <span class="glyph-name">
                                        <% if group_name_url_string.length < 8 %>
                                        <a class="menu-group" id=<%= "menu-group" + group_id.to_s%>><%= "#" + group_name%></a>
                                        <% else %>
                                        <a class="menu-group" id=<%= "menu-group" + group_id.to_s%>><%= "#" + truncate(group_name, length: 9 )%></a>
                                        <% end %>
                                    </span>

                                    <span class="glyph-plus">
                                        <a class="popup-with-form glyphicon glyphicon-plus" href=<%= '#add-user' + group_id.to_s %> aria-hidden="true">
                                        </a>

                                    </span>
                                    <span class="glyph-step-forward">
                                        <a class="glyphicon glyphicon-step-forward" href=<%= group_name_url_string %> aria-hidden="true">
                                        </a>
                                    </span>


                                </th>
                            </tr>

                            <% end %>

                             <div id=<%= 'add-user' + group_id.to_s %> class="white-popup-block mfp-hide">

                                <h1>Add a user to the group:  <%= group_name %></h1>
                                <%= form_tag(controller: "groups", action: "popupadduser", method: "post") do |f| %>
                                  <%= label_tag "New Member Email:" %>
                                  <%= text_field_tag :newmemberemail, params[:newmemberemail] %>
                                  <%= hidden_field_tag :groupid, group_id%>
                                  <%= submit_tag "Add new user to group", class: "btn btn-primary" %>
                                <% end %>
                            </div>

                            <div id=<%= 'delete-user' + relationship_id.to_s %> class="white-popup-block mfp-hide">

                                <h1> Are you sure you want to leave the group <%= group_name %> ?</h1>
                                <br>
                                  <%= form_for(current_user.active_relationships.find_by(id: relationship_id),
                                         html: { method: :delete }) do |f| %>
                                  <%= f.submit "Leave group" , class: "btn btn-primary" %>
                                <% end %>
                            </div>

                    </li>
                <% end %>
                <li>

                   <a class="popup-with-form" id="create-group-button" href="#create-group" >[ create new group + ]</a>
                </li>
                <div id="create-group" class="white-popup-block mfp-hide">
                    <h1>Create a Group!</h1>
                        <%= form_tag(controller: "groups", action: "create", method: "post") do |f| %>
                          <%= label_tag  "Group Name" %>
                          <%= text_field_tag :group_name, params[:group_name.downcase] %>
                          <%= submit_tag "Create new group", class: "btn btn-primary" %>
                        <% end %>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

<script>

$('.sidebar-brand').click(function(e){

    if (this.value % 2 == 1) {
        this.value += 1;
        console.log("why isn't it showing up!?")
        //var id = this.getAttribute("unique");
        //var str_id = id.toString();
        //$('#' + str_id).show();
    $('.dropdown-toggle').fadeIn("fast");
    $('.popup-with-form').fadeIn("fast");
    }
    else {
        this.value += 1;
        //var id = this.getAttribute("unique");
        //var str_id = id.toString();
        //$('#' + str_id).hide();
        $('.dropdown-toggle').fadeOut("fast");
        $('.popup-with-form').fadeOut("fast");

    }
});




</script>

