<!-- Page Content -->
<div id="page-content-wrapper">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>" id="chat-alerts"><%= message %></div>
  <% end %>



  

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class='center-div'>
          <h1 id='center-div-header'>Hello <%= current_user.name %>!</h1>

          <p id="center-div-body">Use the sidebar on the left to create a new group or to enter a group
            that has already been created. Click below to enter a temporary video chat room.
        </div>
        <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
            <% group = Relationship.find_by(id: relationship_id).group %>
            <% group_id = group.id %>
            <% group_name = group.group_name %>
            <% delete_href = '#delete-user' + relationship_id.to_s %>
            <% add_href = '#add-user' + group_id.to_s %>
            <% go_to_room_href = '#room-verify' + group_id.to_s %>
            <% go_to_room_href_no_hash = 'room-verify' + group_id.to_s %>
            <% group_name_url_string = "/room/" + "#{group_id}" + "/" + group_name %>
            <div class='center-div-group' id=<%= "center-div" + group_id.to_s  %>>
              <div class="chat-div-header">
                <div class="fixed-header-div">
                  <%= image_tag("glyphicons-44-group.png", id: "group-image") %>
                  <a id="group-name-in-chat-header" data-name=<%= '' + group_name_url_string %>> <%= '#' + group_name %></a>
                  <ul class="ul-group-head">
                    <li class="group-header-list-elem" id="add-user-list-head"><%= link_to "<a class='popup-with-form glyphicon glyphicon-plus' id='add-user-in-member-box' href=#{add_href} aria-hidden='true'> <p id='add-user-text'>Add user to group</p></a>".html_safe %></li>
                    <li class="group-header-list-elem" id="room-list-head"><%= link_to "<a class='popup-with-form glyphicon glyphicon-facetime-video' id='go-to-room-in-chat-header' href=#{go_to_room_href}> <p id='go-to-room-text'>Go to video call</p></a>".html_safe %></li>
                    <li class="group-header-list-elem" id="leave-list-head"><%= link_to "<a class='popup-with-form glyphicon glyphicon-remove' id='leave-group-chat-header' href=#{delete_href} aria-hidden='true'> <p id='leave-group-text'>Leave group</p></a>".html_safe %></li>
                  </ul>
                </div>
                <div id='<%= go_to_room_href_no_hash %>' class="white-popup-block mfp-hide">
                  <h1> You are about to join a video call.</h1>
                  <br>
                  <%= link_to "Continue on", group_name_url_string, class: "btn btn-primary continue-button" %>
                </div>
                <div class="users-online-list-border">
                  <div id="users-online-list">
                    <a id="members-online">Members online:</a>

                    <div id="list-of-users-online">
                      <ul id="users-online-ul">
                        <% Relationship.where(group_id: group_id).pluck(:user_id).each do |uid| %>
                            <li id="user-in-list-li"><span class="user-in-list">
                                                <% if user_logged_in(uid) %>
                                                <%= image_tag("green_circle.png", :class => "circle-jerk") %>
                                                <% else %>
                                                <%= image_tag("gray_circle.png", :class => "circle-jerk") %>
                                                <% end %>
                              <span id="user-name-in-list"><%= truncate(User.find_by_id(uid).name, length: 14) %></span>
                                                                                        </span></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id='chat-body'>
                  <div class='panel panel-primary' id="chat-box">
                    <div class='panel-heading' id="chat-heading">
                      <a class="chat-header">Chat</a>
                      <a class="glyphicon glyphicon-chevron-down" id="minimize-chat-down" href="javascript:minimize('#js-chat-body','#minimize-chat-down', '#minimize-chat-right');"></a>
                      <a class="glyphicon glyphicon-chevron-right" id="minimize-chat-right" href="javascript:minimize('#js-chat-body','#minimize-chat-right', '#minimize-chat-down');"></a>
                    </div>
                    <div class='panel-body' id='js-chat-body'></div>
                  </div>
                  <div class='input-group' id="chat-location">
                    <input class='form-control' id='js-input-im' placeholder="Send a message">
                                            <span class='input-group-btn'>
                                            <button class='btn btn-primary' id='js-send-button-im'>
                                            </button>
                                            </span>
                  </div>
                </div>
              </div>
            </div>
        <% end %>


        <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->


<script>
<% icecomm = YAML.load_file("#{::Rails.root}/config/icecomm.yml")[::Rails.env] %>
var app_id = "<%= icecomm['app_id'] %>";
var comm = new Icecomm(app_id, {
    debug: true
});
var icecomm_roomname = "";

    $(".alert").fadeOut(10000);

    $(".alert-success").fadeOut(10000);

    $(".alert-danger").fadeOut(10000);

    $('.menu-group').click(function (e) {
        console.log("chcking");
        var id = this.id;
        var id_array = id.split(":");
        console.log("id array: ",id_array);

        $('.center-div').hide();
        $('.center-div-group').hide();
        $('.random-button').hide();
        $('#center-div' + id_array[1]).show(); 
        icecomm_roomname = id_array[2];
        comm.connect(icecomm_roomname);
        console.log("Initialized Icecomm");
    });

comm.on('local', function(options) {
  console.log("icecommroomname: ",icecomm_roomname);
    console.log("options: ", options);
    // fill in chat history from redis
    var chat_history;
    // send to redis
    var url = (icecomm_roomname).split("/");
    var id = String(url[url.length - 2]);
    var name = String(url[url.length - 1]);
    var chat_history_key = name + ":" + id + ":chathistory";
    console.log("chathistorykey: ", chat_history_key);
    // get chat history from redis
    $.ajax({
        type: "GET",
        url: "/get_redis",
        dataType: "json",
        data: {
            'redis_key': chat_history_key
        },
        success: function(messages) {
            if (messages.length != 0) {
                // append what you send to your own page
                for (var i = 0; i < messages.length; i++) {
                    appendNewIM_text_only(messages[i]);
                }
            }
        }
    });
    // scroll to bottom of history in chat
    var height = 0;
    $('div, #chatty').each(function(i, value) {
        height += parseInt($(this).height());
    });
    height = height + 2;
    //var d = $('#chat-box');
    //d.scrollTop(d.prop("scrollHeight"));
    $('#js-chat-body').animate({
        scrollTop: height
    }, 'fast');
});
comm.on('connected', function(options) {
    console.log("on connected options: ", options);
});
comm.on('disconnect', function(options) {
    console.log('disconnect happening');
});
comm.on('data', function(options) {
    console.log("receiving these options in comm.ondata: ", options);
    console.log("options.data: ", options.data);
    if (typeof options.data == 'object') {
        //It is JSON, so benny
        console.log("its a benny! ignore it.");
    } else {
        appendNewIM(options);
    }
});



</script>

<%= javascript_tag do %>
  <%= render 'chat/chat_chat' %>
<% end %>





