

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////====CHAT====////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
  var $sendButton = $("#js-send-button-im");
  var $inputIM    = $("#js-input-im");
  var $chatBody   = $("#js-chat-body");
  var $speechRecBody = $("#speech-rec-body");
  var localId = comm.getLocalID();

  $sendButton.on('click', sendIM);
  $inputIM.on('keypress', checkEnterKey);

  // With Turbolinks pages will change without a full reload, so you can't rely on the usual window.beforepageunload event. Instead Turbolinks fires events on document to provide hooks into the lifecycle of the page.
  $(document).on("page:fetch", function(){
  console.log('turbolinks page fetch event');
  });


  // send a message
  function sendIM() {
      "<% current_user.refresh_token_if_expired %>"
      var content = "<%= current_user.name %>" + "@@@" + "<%= current_user.uid %>" + "@@@" +
    "<%= current_user.oauth_token %>" + "@@@" + $inputIM.val() ;
    $inputIM.val("");
    comm.send(content)
    // append what you send to your own page
    appendNewIM({
        data: content,
        callerID: "<%= current_user.name %>"
    })
  }

  // send your benedict query result to everyone else in the chat
  function sendBennyReply(reply){
        "<% current_user.refresh_token_if_expired %>"
      var content = "benny" + "@@@" + "<%= current_user.name %>" + "@@@" + "<%= current_user.uid %>" + "@@@" +
    "<%= current_user.oauth_token %>" + "@@@" + reply;
    comm.send(content)
    // append what you send to your own page
    appendNewBennyReply({
        data: content,
        callerID: "<%= current_user.name %>"
    })
  }

  // click the send button when enter key is pressed
  function checkEnterKey(event) {
    if ( event.keyCode == 13 ) {
      $sendButton.click();
    }
  }

  // stick new instant message onto the chat body
  function appendNewIM(options) {
    var message_data = options.data.split("@@@");
    var caller_name = message_data[0];
    var caller_uid = message_data[1];
    var caller_token = message_data[2];
    message_data.reverse();
    message_data.pop();
    message_data.pop();
    message_data.pop();
    message_data.reverse();
    message_data.join("@@@");
    mediaObjectIM(caller_name, caller_uid, caller_token, message_data);
  }

  // stick new reply from benny onto the speechrec body
  function appendNewBennyReply(options) {
    var message_data = options.data.split("@@@");
    var caller_name = message_data[1];
    var caller_uid = message_data[2];
    var caller_token = message_data[3];
    message_data.reverse();
    message_data.pop();
    message_data.pop();
    message_data.pop();
    message_data.pop();
    message_data.reverse();
    message_data.join("@@@");
    mediaObjectSpeechrec(caller_name, caller_uid, caller_token, message_data);
  }

  // media object to append to the page each time there's a new chat
  function mediaObjectIM(user, uid, token, message) {

    var url_string = "https://www.googleapis.com/plus/v1/people/" + uid + "?access_token=" + token;

    $.getJSON(url_string, function(user_object) {

          $chatBody.append( "  <div class='media' id='chatty'>"+
           "    <a class='pull-"+ "left" +"' href='#'>"+
           "      <img class='media-object' src=" +
            user_object.image.url +
           ">" +
           "    </a>"+
           "    <div class='media-body', style='text-align: "+ "left" +"'>"+
           "      <h4 class='media-heading'>"+ user + ": " + message + "</h4>"+""+
           "    </div>"+
           "  </div>" )
           var height = 0;
           $('div, #chatty').each(function(i, value) {
            height += parseInt($(this).height());
           });

           $('div, #chatty').animate({scrollTop: height}, 'fast');

    });
  }

  // media object to append to the page each time there's a new chat
  function mediaObjectSpeechrec(user, uid, token, message) {

         var url_string = "https://www.googleapis.com/plus/v1/people/" + uid + "?access_token=" + token;

          $.getJSON(url_string, function(user_object) {

          $speechRecBody.append( "  <div class='media' id='benny'>"+
           "    <a class='pull-"+ "left" +"' href='#'>"+
           "      <img class='media-object' src=" +
            user_object.image.url +
           ">" +
           "    </a>"+
           "    <div class='media-body', style='text-align: "+ "left" +"'>"+
           "      <h4 class='media-heading'>"+ user + ": " + message + "</h4>"+""+
           "    </div>"+
           "  </div>" )
           var height = 0;
           $('div, #benny').each(function(i, value) {
            height += parseInt($(this).height());
           });

           $('div, #benny').animate({scrollTop: height}, 'fast');

    });
  }
