<script>

js = $.noConflict( true )

</script>


<style>
   html, body {
   overflow: hidden;
   }
</style>
<div id="room-backround"></div>
<div id = "page_wrapper">
         <%= render 'rooms/room_page_content' %>
</div>


<%= render 'rooms/help_div_popup' %>

<%= render 'rooms/room_toggle_menu_script' %>


<%= javascript_tag do %>
	<%= render 'rooms/room_pocketsphinx_helper_functions' %>
	<%= render 'rooms/room_icecomm_helper_functions' %>
	<%= render 'rooms/room_keypress_record' %>
	<%= render 'rooms/room_chat' %>
<% end %>

<script>

 $(document).ready(function(event) {

        js('.popup-link').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',

            // When elemened is focused, some mobile browsers in some cases zoom in
            // It looks not nice, so we disable it:
            callbacks: {
                beforeOpen: function() {

                    if($(window).width() < 700) {
                        this.st.focus = false;
                    } else {
                        this.st.focus = '#name';
                    }

                }
            }
        });


    });
</script>