




 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand"><a id="menu-toggle" href="#">Groups<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                <% Relationship.where(user_id: current_user.id).pluck(:id).each do |relationship_id| %>
                    <li class= 'groups', id=relationship_id >
                        <% group_name = Relationship.find_by(id: relationship_id).group.group_name %>
                        <% group_name_url_string = "/room/" + group_name %>

                        <a id="menu-group" href= "<%= group_name_url_string %>" ><%=group_name%></a>

                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


<!-- Page Content -->
        <div id="page-content-wrapper">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div id = 'video-chat-body'>
                              <video id="localVideo" autoplay></video>
                            </div>
                              <div class='row'>
                                <div class='panel panel-primary'>
                                  <div class='panel-heading'>
                                    Chat
                                  </div>
                                  <div class='panel-body' id='js-chat-body'></div>
                                </div>
                                <br>
                                <div class='input-group' id="chat-location">
                                  <input class='form-control' id='js-input-im'>
                                  <span class='input-group-btn'>
                                    <button class='btn btn-primary' id='js-send-button-im'>
                                      Send
                                    </button>
                                  </span>
                                </div>
                              </div>


                        <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });


     $("").hover(
        function() {
        $(this).preappend( );
        }, function() {
            console.log("DONE");
    $( this ).find( "span:last" ).remove();
    });

   </script>




<style>
#js-chat-body {
  max-height: 250px;
  overflow: auto;
  word-wrap: break-word;
}

  video {
    height: 30%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    wrap: auto;
}
#localVideo {

}
#js-input-im {
}
#js-send-button-im {
  height: 31px;
  margin-left: 5px;
  margin-top: -3px;
}

</style>


<%= javascript_tag do %>
var comm = new Icecomm('9gv3ODZorBS2kVuNwnugBeV432PcNX3Qn0HmW33ofxK/u5Xolu');

    comm.connect(window.location.pathname);

    comm.on('local', function(options) {
      localVideo.src = options.stream;
    });

    comm.on('connected', function(options) {
      // append video elements one after the other when new people join the chat
      document.getElementById("video-chat-body").appendChild(options.video);

    });

    comm.on('disconnect', function(options) {
      console.log('disconnect happening');
      document.getElementById(options.callerID).remove();
    });

    comm.on('data', function(options) {
    console.log("data: ",options.data);
    appendNewIM(options);
  });

  var $sendButton = $("#js-send-button-im");
  var $inputIM    = $("#js-input-im");
  var $chatBody   = $("#js-chat-body");
  var localId = comm.getLocalID();

  $sendButton.on('click', sendIM);
  $inputIM.on('keypress', checkEnterKey);

  <!-- With Turbolinks pages will change without a full reload, so you can't rely on the usual window.beforepageunload event. Instead Turbolinks fires events on document to provide hooks into the lifecycle of the page. -->

  $(document).on("page:fetch", function(){
  console.log('turbolinks page fetch event');
  });


  // send a message
  function sendIM() {
      "<% current_user.refresh_token_if_expired %>"
      var content = "<%= current_user.name %>" + "@@@" + "<%= current_user.uid %>" + "@@@" +
    "<%= current_user.oauth_token %>" + "@@@" + $inputIM.val() ;
    $inputIM.val("");
    comm.send(content)
    // append what you send to your own page
    appendNewIM({
    data: content,
    callerID: "<%= current_user.name %>"
})
  }

  // click the send button when enter key is pressed
  function checkEnterKey(event) {
    if ( event.keyCode == 13 ) {
      $sendButton.click();
    }
  }

  // stick new instant message onto the chat body
  function appendNewIM(options) {
    var message_data = options.data.split("@@@");
    var caller_name = message_data[0];
    var caller_uid = message_data[1];
    var caller_token = message_data[2];
    message_data.reverse();
    message_data.pop();
    message_data.pop();
    message_data.pop();
    message_data.reverse();
    message_data.join("@@@");
    mediaObjectIM(caller_name, caller_uid, caller_token, message_data);
  }

  // media object to append to the page each time there's a new chat
  function mediaObjectIM(user, uid, token, message) {

    // var leftRight = user === comm.getLocalID() ? 'right' : 'left'

    var url_string = "https://www.googleapis.com/plus/v1/people/" + uid + "?access_token=" + token;

    $.getJSON(url_string, function(user_object) {

          $chatBody.append( "  <div class='media'>"+
           "    <a class='pull-"+ "left" +"' href='#'>"+
           "      <img class='media-object' src=" +
            user_object.image.url +
           ">" +
           "    </a>"+
           "    <div class='media-body', style='text-align: "+ "left" +"'>"+
           "      <h4 class='media-heading'>"+ user + ": " + message + "</h4>"+""+
           "    </div>"+
           "  </div>" )
           var height = 0;
           $('div, .media').each(function(i, value) {
            height += parseInt($(this).height());
           });

           $('div, .media').animate({scrollTop: height}, 'fast');

    });
    <!-- console.log($.user_object.responseJSON); -->


  }
<% end %>