<style>
   html, body {
   overflow: hidden;
   }
</style>
<div id="room-backround"></div>
<div id = "page_wrapper">
         <%= render 'rooms/room_page_content' %>
</div>



<%= render 'rooms/room_toggle_menu_script' %>

<%= javascript_tag do %>

	<%= render 'rooms/room_pocketsphinx_helper_functions' %>
	<%= render 'rooms/room_icecomm_helper_functions' %>
	<%= render 'rooms/room_keypress_record' %>
	<%= render 'rooms/room_chat' %>

<% end %>
