<header class="navbar navbar-fixed-top navbar-inverse" id="header-nav-bar" data-no-turbolink>
  <div class="container">
    <%= link_to "bene", root_path, id: "red_logo" %><%= link_to "dictation", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        	<li><%= link_to "<a class='glyphicon glyphicon-user' id='user-icon' href='/chat'><p id='chatroom-header-text'> #{current_user.name}\'s Chatrooms</p></a>".html_safe, id: "chat-path-glyph" %></li>
        	<li><%= link_to '<a class="glyphicon glyphicon-home" id="home-icon" href="/"><p id="home-header-text">Home</p></a>'.html_safe, id: "home-path-glyph" %></li>
          <li><%= link_to "<a class='glyphicon glyphicon-question-sign' id='help-icon' ><p id='help-header-text'> Help</p></a>".html_safe, id: "help-path-glyph" %></li>
          <li><%= link_to '<a class="glyphicon glyphicon-log-out" id="log-out-icon" href="/signout"> <p id="log-out-header-text">Log out</p></a>'.html_safe, id: "sign_out" %></li>
      	<% else %>
      		<li><%= link_to "Home",   root_path %></li>
        	<li><%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %></li>
      	<% end %>
      </ul>
    </nav>
  </div>
</header>

glyphicon glyphicon-question-sign